#!/bin/bash
set -e

if [ "$1" = 'postgres' ]; then
	chown -R postgres "$PGDATA"
	
	chmod g+s /run/postgresql
	chown -R postgres:postgres /run/postgresql
	
	if [ -z "$(ls -A "$PGDATA")" ]; then
		gosu postgres initdb
		
		sed -ri "s/^#(listen_addresses\s*=\s*)\S+/\1'*'/" "$PGDATA"/postgresql.conf
		
		# check password first so we can ouptut the warning before postgres
		# messes it up
		if [ "$POSTGRES_PASSWORD" ]; then
			pass="PASSWORD '$POSTGRES_PASSWORD'"
			authMethod=md5
		else
			# The - option suppresses leading tabs but *not* spaces. :)
			cat >&2 <<-'EOWARN'
				****************************************************
				WARNING: No password has been set for the database.
				         This will allow anyone with access to the
				         Postgres port to access your database. In
				         Docker's default configuration, this is
				         effectively any other container on the same
				         system.
				         
				         Use "-e POSTGRES_PASSWORD=password" to set
				         it in "docker run".
				****************************************************
			EOWARN
			
			pass=
			authMethod=trust
		fi
		
		: ${POSTGRES_USER:=postgres}
		: ${POSTGRES_DB:=$POSTGRES_USER}

		if [ "$POSTGRES_DB" != 'postgres' ]; then
			gosu postgres postgres --single -jE <<-EOSQL
				CREATE DATABASE "$POSTGRES_DB" ;
			EOSQL
			echo
		fi
		
		if [ "$POSTGRES_USER" = 'postgres' ]; then
			op='ALTER'
		else
			op='CREATE'
		fi

		gosu postgres postgres --single -jE <<-EOSQL
			$op USER "$POSTGRES_USER" WITH SUPERUSER $pass ;
		EOSQL
		echo
		
		{ echo; echo "host all all 0.0.0.0/0 $authMethod"; } >> "$PGDATA"/pg_hba.conf
		
		if [ -d /docker-entrypoint-initdb.d ]; then
			for f in /docker-entrypoint-initdb.d/*.sh; do
				[ -f "$f" ] && . "$f"
			done
		fi
	fi
	
	gosu postgres "$@" &

	wget http://download.geofabrik.de/europe/finland-latest.osm.pbf

	gosu postgres psql -c "create database osm_tanzania;"
	gosu postgres psql -d osm_tanzania -c "CREATE EXTENSION postgis;"
	gosu postgres psql -d osm_tanzania -c "SELECT postgis_full_version();"
	gosu postgres psql -d osm_tanzania -f postgis-vt-util/lib.sql

	imposm --connection "postgis://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/osm_tanzania" -m osm-bright.tm2source/imposm-mapping.py --read --write --optimize --deploy-production-tables --overwrite-cache finland-latest.osm.pbf

	gosu postgres psql -d osm_tanzania -f osm-bright.tm2source/create-indices.sql

	ogr2ogr -progress -f PostgreSQL PG:"dbname=osm_tanzania user=${POSTGRES_USER} password=${POSTGRES_PASSWORD}" -a_srs EPSG:3857 -clipsrc 1553110 6986810 4355924 13733944 -lco GEOMETRY_NAME=geometry -nlt PROMOTE_TO_MULTI -overwrite /vsizip//vsicurl/http://data.openstreetmapdata.com/water-polygons-split-3857.zip/water-polygons-split-3857/water_polygons.shp
	
	gosu postgres psql -c "ALTER DATABASE osm_tanzania SET default_transaction_read_only = true;"

	wait

fi

