mapserver:
  image: {{map_server_docker_image}}
  links:
   - vectormapserver
  expose:
   - "{{map_server_exposed_port}}"

vectormapserver:
  image: {{vector_map_server_docker_image}}
  links:
   - postgisosm:postgisosm
  expose:
   - "{{reverse_proxy_exposed_port}}"

postgisosm:
  image: {{postgis_osm_docker_image}}
  expose:
   - "{{postgis_osm_exposed_port}}"