location /hsl-now/ {
    rewrite /hsl-now/(.*) /$1  break;
    proxy_pass         http://hslnow:{{hsl_now_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /otp/ {
  rewrite /otp/(.*) https://api.digitransit.fi/routing/v1/$1 permanent;
}

# OTP images
location /images/ {
    rewrite /images/(.*)  /images/$1  break;
    proxy_pass         http://otp:8080;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /navigator-proto/ {
    rewrite /navigator-proto/(.*) /$1  break;
    proxy_pass         http://navigatorproto:{{navigator_proto_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /hsl-alert/ {
  rewrite /hsl-alert/(.*) https://api.digitransit.fi/realtime/service-alerts/v1/$1 permanent;
}

location /siri2gtfsrt/ {
  rewrite /siri2gtfsrt/(.*) https://api.digitransit.fi/realtime/trip-updates/v1/$1 permanent;
}

location /navigator-server/ {
  rewrite /navigator-server/(.*) https://api.digitransit.fi/realtime/vehicle-positions/v1/$1 permanent;
}

# For legacy support
location /openjourneyplanner-ui/ {
    rewrite /openjourneyplanner-ui/(.*) https://beta.reittiopas.fi/$1 permanent;
}

location /hsl-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-vector-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-stop-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-route-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /finland-stop-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-parkandride-map/ {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-ticket-sales-map {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /hsl-citybike-map {
  rewrite /(.*) https://api.digitransit.fi/map/v1/$1 permanent;
}

location /pelias/ {
    rewrite /pelias/v1/(.*) https://api.digitransit.fi/geocoding/v1/$1 permanent;
}

location /routing-data/v1/ {
    rewrite /routing-data/v1/(.*) /$1  break;
    proxy_pass         http://otp-data-container:{{otp_data_container_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /raildigitraffic2gtfsrt/ {
    rewrite /raildigitraffic2gtfsrt/(.*) https://api.digitransit.fi/realtime/raildigitraffic2gtfsrt/v1/$1 permanent;
}
