location /hsl-now/ {
    rewrite /hsl-now/(.*) /$1  break;
    proxy_pass         http://hslnow:{{hsl_now_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /otp/ {
    rewrite /otp/routers/(.*)  /otp/routers/$1  break;
    rewrite /otp/(.*)  /$1  break;
    proxy_pass         http://otp:8081;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

# OTP images
location /images/ {
    rewrite /images/(.*)  /images/$1  break;
    proxy_pass         http://otp:8081;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /route-server/ {
    rewrite /route-server/(.*) /$1  break;
    proxy_pass         http://routeserver:{{route_server_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /navigator-proto/ {
    rewrite /navigator-proto/(.*) /$1  break;
    proxy_pass         http://navigatorproto:{{navigator_proto_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /hsl-alert/ {
    rewrite /hsl-alert/(.*) /$1  break;
    proxy_pass         http://hslalert:{{hsl_alert_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;

    add_header         Access-Control-Allow-Origin *;
}

location /siri2gtfsrt/ {
    rewrite /siri2gtfsrt/(.*) /$1  break;
    proxy_pass         http://siri2gtfsrt:{{siri2gtfsrt_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;

    add_header         Access-Control-Allow-Origin *;
}

location /navigator-server/ {
    rewrite /navigator-server/(.*) /$1  break;
    proxy_pass         http://navigatorserver:{{navigator_server_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    proxy_set_header   Upgrade $http_upgrade;
    proxy_set_header   Connection "upgrade";
}

# For legacy support
location /openjourneyplanner-ui/ {
    rewrite /openjourneyplanner-ui/(.*) http://$http_host/digitransit-ui/$1 permanent;
}

location /hsl-map/ {
    proxy_pass         http://mapserver:{{map_server_exposed_port}};
    proxy_cache        tiles;
    proxy_cache_valid  200  168h;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    expires            168h;
    add_header Cache-Control "public";
}

location /hsl-vector-map/ {
    proxy_pass         http://mapserver:{{map_server_exposed_port}};
    proxy_cache        tiles;
    proxy_cache_valid  200  168h;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    expires            168h;
    add_header Cache-Control "public";
}

location /hsl-stop-map/ {
    proxy_pass         http://mapserver:{{map_server_exposed_port}};
    proxy_cache        tiles;
    proxy_cache_valid  200  168h;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    expires            168h;
    add_header Cache-Control "public";
}

location /finland-stop-map/ {
    proxy_pass         http://mapserver:{{map_server_exposed_port}};
    proxy_cache        tiles;
    proxy_cache_valid  200  168h;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    expires            168h;
    add_header Cache-Control "public";
}

location /hsl-parkandride-map/ {
    proxy_pass         http://mapserver:{{map_server_exposed_port}};
    proxy_cache        tiles;
    proxy_cache_valid  200  168h;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    expires            168h;
    add_header Cache-Control "public";
}

location /pelias/ {
    rewrite /pelias/(.*) /$1  break;
    proxy_pass         http://pelias:{{pelias_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
}

location /raildigitraffic2gtfsrt/ {
    rewrite /raildigitraffic2gtfsrt/(.*) /$1  break;
    proxy_pass         http://raildigitraffic2gtfsrt:{{raildigitraffic2gtfsrt_exposed_port}};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    add_header         Access-Control-Allow-Origin *;
}
