location /geocoding/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}

location /realtime/trip-updates/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}

location /realtime/service-alerts/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}

location /realtime/vehicle-positions/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}

location /map/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}

location /routing/v1/ {
    return 301 https://api.digitransit.fi$request_uri
}
