#!/bin/bash

# Load backend number from global
ENVIRONMENT_FILE="{{current_environment_file}}"

CURRENT_ENVIRONMENT=$(cat "$ENVIRONMENT_FILE") 
echo "current environment is set to '$CURRENT_ENVIRONMENT'"
if [ "$CURRENT_ENVIRONMENT" == "1" ]; then
  CHANGE_TO="2"
else
  CHANGE_TO="1"
fi
  
# Restart haproxy by linking to "1" or "2"
echo "Restarting haproxy to use $CHANGE_TO"
docker stop load_balancer || echo "Load balancer was not running"
docker rm load_balancer || echo "Load balancer not found"
docker run -d --name="load_balancer" --publish="80:80" --link="environment"$CHANGE_TO"_reverseproxy_1:reverseproxy" hsldevcom/load-balancer haproxy -f haproxy.cfg

# store current active environment number
echo "$CHANGE_TO" > $ENVIRONMENT_FILE
