#!/bin/bash

# Load backend number from global
ENVIRONMENT_FILE="{{current_environment_file}}"

CURRENT_ENVIRONMENT=$(cat "$ENVIRONMENT_FILE") 
echo "current environment is set to '$CURRENT_ENVIRONMENT'"
if [ "$CURRENT_ENVIRONMENT" == "1" ]; then
  PASSIVE="1"
  ACTIVE="2"
else
  ACTIVE="1"
  PASSIVE="2"
fi
 
{% raw %}
if [ "$(docker inspect -f {{.State.Running}} environment${ACTIVE}_reverseproxy_1)" != "true" ]; then	
  echo "Passive nginx not running, not changing" && exit 1
fi
{% endraw %}

# Restart haproxy by linking to "1" or "2"
echo "Restarting haproxy to use $ACTIVE"
docker stop load_balancer || echo "Load balancer was not running"
docker rm load_balancer || echo "Load balancer not found"

docker run -d \
  --name="load_balancer" \
  --publish="80:80" \
  --publish="8080:8080" \
  --link="environment"$ACTIVE"_reverseproxy_1:active" \
  --link="environment"$PASSIVE"_reverseproxy_1:passive" \
  hsldevcom/load-balancer

# store current active environment number
echo "$ACTIVE" > $ENVIRONMENT_FILE
