global
        log     /dev/stdout    local0
        log     /dev/stdout    local1 notice
        chroot  /var/lib/haproxy
        user    root
        group   root
        maxconn 1024

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect  5000
        timeout client  30000
        timeout server  30000

frontend www-active
    bind *:80
    use_backend piwik if { hdr(Host) -i piwik.digitransit.fi }
    use_backend dev if { hdr(Host) -i testing.digitransit.fi }
    use_backend dev if { hdr(Host) -i dev.digitransit.fi }
    default_backend backend-active

frontend www-passive
    bind *:8080
    default_backend backend-passive

backend backend-active
    mode http
    server nginx active:{{reverse_proxy_exposed_port}}

backend backend-passive
    mode http
    server nginx passive:{{reverse_proxy_exposed_port}}

backend piwik
    mode http
    server apache-piwik matka.hsl.fi:8090
    option forwardfor
    option http-server-close

backend dev
    mode http
    server testing 136.243.66.163
    option forwardfor
    option http-server-close
