global
        log     /dev/stdout    local0
        log     /dev/stdout    local1 notice
        chroot  /var/lib/haproxy
        user    root
        group   root
        maxconn 1024

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect  5000
        timeout client  10000
        timeout server  10000

frontend www-http
    bind *:80
    default_backend reittiopas

backend reittiopas
    mode http
    server nginx reverseproxy:{{reverse_proxy_exposed_port}}
