reverseproxy:
  image: {{reverse_proxy_docker_image}}
  links:
   - routeserver
   - otp
   - navigatorproto
   - hslnow
   - hslalert
   - siri2gtfsrt
   - navigatorserver
   - digitransitui
   - digitransituiregional
   - mapserver
   - raildigitraffic2gtfsrt
   - pelias-api
  expose:
   - "{{reverse_proxy_exposed_port}}"

routeserver:
  image: {{route_server_docker_image}}
  expose:
   - "{{route_server_exposed_port}}"

otp:
  image: {{otp_docker_image}}
  links:
   - routeserver
   - hslalert
   - siri2gtfsrt
   - raildigitraffic2gtfsrt
  expose:
   - "{{otp_exposed_port}}"

navigatorproto:
  image: {{navigator_proto_docker_image}}
  links:
   - otp
   - navigatorserver
  expose:
   - "{{navigator_proto_exposed_port}}"

hslnow:
  image: {{hsl_now_docker_image}}
  links:
   - otp
  expose:
   - "{{hsl_now_exposed_port}}"

hslalert:
  image: {{hsl_alert_docker_image}}
  expose:
   - "{{hsl_alert_exposed_port}}"

raildigitraffic2gtfsrt:
  image: {{raildigitraffic2gtfsrt_docker_image}}
  links:
   - routeserver
  expose:
   - "{{raildigitraffic2gtfsrt_exposed_port}}"

siri2gtfsrt:
  image: {{siri2gtfsrt_docker_image}}
  environment:
    CHAIN_URL: http://raildigitraffic2gtfsrt:{{raildigitraffic2gtfsrt_exposed_port}}/hsl
    TRIP_UPDATE_URL: http://hslalert:{{hsl_alert_exposed_port}}/
    HSL_URL: http://navigatorserver:{{navigator_server_exposed_port}}/siriaccess/vm/json?operatorRef=HSL
  links:
   - navigatorserver
   - raildigitraffic2gtfsrt
   - hslalert
  expose:
   - "{{siri2gtfsrt_exposed_port}}"

navigatorserver:
  image: {{navigator_server_docker_image}}
  environment:
    PORT: {{navigator_server_exposed_port}}
  expose:
   - "{{navigator_server_exposed_port}}"

digitransitui:
  image: {{digitransit_ui_docker_image}}
  expose:
   - "{{digitransit_ui_exposed_port}}"

digitransituiregional:
  image: {{digitransit_ui_regional_docker_image}}
  expose:
   - "{{digitransit_ui_exposed_port}}"

mapserver:
  image: {{hsl_map_server_docker_image}}
  links:
   - otp
  expose:
   - "{{hsl_map_server_exposed_port}}"
  environment:
   - OTP_URL=otp
   - OTP_PORT={{otp_exposed_port}}
   - FONTSTACK_PASSWORD={{fontstack_zip_password}}

pelias-api:
  image: {{pelias_api_docker_image}}
  links:
   - pelias-data-container
  expose:
   - "{{pelias_api_exposed_port}}"

pelias-data-container:
  image: {{pelias_data_container_docker_image}}
  expose:
   - "{{pelias_data_container_exposed_port}}"
