reverseproxy:
  image: {{reverse_proxy_docker_image}}
  links:
   - routeserver
   - otp
   - navigatorproto
   - hslnow
   - hslalert
   - siri2gtfsrt
   - navigatorserver
   - mapserver
  expose:
   - "{{reverse_proxy_exposed_port}}"

routeserver:
  image: {{route_server_docker_image}}
  expose:
   - "{{route_server_exposed_port}}"

otp:
  image: {{otp_docker_image}}
  links:
   - routeserver
   - hslalert
   - siri2gtfsrt
  expose:
   - "{{otp_exposed_port}}"

navigatorproto:
  image: {{navigator_proto_docker_image}}
  links:
   - otp
   - navigatorserver
  expose:
   - "{{navigator_proto_exposed_port}}"

hslnow:
  image: {{hsl_now_docker_image}}
  links:
   - otp
  expose:
   - "{{hsl_now_exposed_port}}"

hslalert:
  image: {{hsl_alert_docker_image}}
  expose:
   - "{{hsl_alert_exposed_port}}"

siri2gtfsrt:
  image: {{siri2gtfsrt_docker_image}}
  links:
   - navigatorserver
  expose:
   - "{{siri2gtfsrt_exposed_port}}"

navigatorserver:
  image: {{navigator_server_docker_image}}
  expose:
   - "{{navigator_server_exposed_port}}"

mapserver:
  image: {{map_server_docker_image}}
  expose:
   - "{{map_server_exposed_port}}"